* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(54, 127, 223);
}

ul {

}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;

}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 0 25px;
    background-color: rgb(0, 100, 199);
}

ul li a:hover {
    background-color: rgb(4, 4, 207);
}

img {
    height: 100px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 5px;
}

body {
  background-color: #12284d;
}

body #HomeText {
    height: 100;
    width: 500px;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 11px;
}

#HomeText a {
  color: white;
  text-decoration:  none;
}

#HomeText a:hover {
  color: white;
  text-decoration: underline;
}


#HomeText h1 {
    padding-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

footer {
  clear: both;
  background-color: #0c3fad;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: white;
  padding: 10px 30px;
}
